node_modules
npm-debug.log
dist
dist.bak
.env
.env.*
.git
.gitignore
.eslintcache
.DS_Store
coverage
.vscode
*.log
__tests__
*.test.*
*.spec.*
test
tests
exports
logs
uploads
migrations
prisma
schema-bundle.json
scripts
.prettierrc
jest.config.*
Dockerfile*
docker-compose*
*.md
!LICENSE.md
