node_modules
dist
npm-debug.log
node_modules
dist
npm-debug.log
.env
.env.*
.git
.gitignore
.eslintcache
.DS_Store
coverage
.vscode
*.log
__tests__
*.test.*
*.spec.*
jest.config.*
Dockerfile*
docker-compose*
*.md
!LICENSE.md
